<div class="container-fluid">
  <h1 class="p-3 text-center">Data Binding</h1>
  <div class="row">
    <div class="col-6 p-3 text-center bg-success">
      <h3>One Way</h3>
    </div>
    <div class="col-6 p-3 text-center bg-primary">
      <h3>Two Way</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6 p-3 text-center bg-secondary">
          <h4>From ts to html</h4>
        </div>
        <div class="col-6 col-6 p-3 text-center bg-warning">
          <h4>From html to ts</h4>
        </div>
      </div>
    </div>
    <div class="col-6 col-6 p-3 text-center bg-danger">
      <h4>ngModel Directive</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6 bg-success p-3 text-center">
              <h4>interpolation</h4>
            </div>
            <div class="col-6 bg-primary p-3 text-center">
              <h4>property binding</h4>
            </div>
          </div>
        </div>
        <div class="col-6 bg-secondary p-3 text-center">
          <h4>event binding</h4>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>

  <section>
    <h2 class="p-3 text-center">Interpolation</h2>
    <p class="text-center">
      The value of variable inside the class component is: {{ content }}
    </p>
  </section>
  <section class="text-center">
    <h2 class="text-center p-3">Property Binding</h2>
    <input [value]="content" type="text" />
  </section>

  <section class="text-center">
    <h2 class="p-3 text-center">Events</h2>
    <p>This comes under html to ts data binding.</p>
    <button class="btn btn-primary" (click)="displayText($event)">
      Display Text
    </button>
    <p>{{ text }}</p>
  </section>
  <section class="text-center">
    <select name="states" id="states" (change)="onChangeEvent($event)">
      <option value="Kashmir">Kashmir</option>
      <option value="Himachal">Himachal Pradesh</option>
      <option value="Bihar">Bihar</option>
      <option value="UP">Uttar Pradesh</option>
      <option value="TN">Tamil Nadu</option>
      <option value="AP">Andhra Pradesh</option>
      <option value="Oddissa">Oddissa</option>
    </select>
    <h3>Selected State: {{ state }}</h3>
    <h3>Passing data from html to ts</h3>
    <button class="btn btn-primary" (click)="onChangeText('I have changed!')">
      Change Text
    </button>
    <p>{{ changedText }}</p>
  </section>
  <section class="pt-3 text-center">
    <h3>Two Way Binding</h3>
    <input [(ngModel)]="name" placeholder="Write your name..." />
    <p>{{ name }}</p>
  </section>
</div>
