<h1 class="p-3 text-center bg-danger m-0">Data Binding</h1>
<div class="row">
  <div class="col-6 p-3 text-center bg-success">
    <h3>One Way</h3>
  </div>
  <div class="col-6 p-3 text-center bg-primary">
    <h3>Two Way</h3>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-6 p-3 text-center bg-secondary">
        <h4>From ts to html</h4>
      </div>
      <div class="col-6 col-6 p-3 text-center bg-warning">
        <h4>From html to ts</h4>
      </div>
    </div>
  </div>
  <div class="col-6 col-6 p-3 text-center bg-danger">
    <h4>ngModel Directive</h4>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6 bg-success p-3 text-center">
            <h4>interpolation</h4>
          </div>
          <div class="col-6 bg-primary p-3 text-center">
            <h4>property binding</h4>
          </div>
        </div>
      </div>
      <div class="col-6 bg-secondary p-3 text-center">
        <h4>event binding</h4>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>
